.trees{
    overflow: hidden;
}

.footerList{
    display: flex;
    flex-direction: row;

    padding: 0 60px;
}

.footerListElement{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;

    padding: 28px;
    width: 480px;
}

.borders{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.footerListElement a,.footerListElement p{
    color: #FFF;

    width: max-content;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footerListElement a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.footerListElement a:hover:after {
    width: 100%;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 11px;
}

@media (max-width: 500px) {
    .trees img{
        width: 1000px;
    }
    
    .footerList {
        flex-direction: column;

        padding: 0;
    }

    .borders{
        border-left: none  ;
        border-right: none;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    .footerListElement {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 10px;
        width: 350px;
    }

    .footerListElement a, .footerListElement p{
        margin:auto;

        font-size: 13px;
    }

    .icons{
        width: 200px;
        margin: auto;
    }

    .icons img{
        width: 30px;
    }
}