*{
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.bookList{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 1400px){
    .bookList{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 500px){
    .bookList{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

